<p>Now that you've chosen where you'd like to fight, select who you would like to challenge:</p>
<div id="mercury-container", class="planets-container", value="Mercury">
    <div id="mercury-image", class="planets-image">asdf</div>
    <p>Mercury</p>
</div>
<div id="venus-container", class="planets-container", value="Venus">
    <div id="venus-image", class="planets-image">asdf</div>
    <p>Venus</p>
</div>
<div id="mars-container", class="planets-container", value="Mars">
    <div id="mars-image", class="planets-image">asdf</div>
    <p>Mars</p>
</div>
<div id="jupiter-container", class="planets-container", value="Jupiter">
    <div id="jupiter-image", class="planets-image">asdf</div>
    <p>Jupiter</p>
</div>
<div id="saturn-container", class="planets-container", value="Saturn">
    <div id="saturn-image", class="planets-image">asdf</div>
    <p>Saturn</p>
</div>
<div id="neptune-container", class="planets-container", value="Neptune">
    <div id="neptune-image", class="planets-image">asdf</div>
    <p>Neptune</p>
</div>

<p id="display-new-weight", style="display:none">
    <span>You weigh </span>
    <span id="insert-weight"></span>
    <span>on </span>
    <span id="insert-planet"></span>
</p>