<p>This is a strong opponent. Select a partner to assist:</p>
<div id="jungkook-container", class="partners-container", value="Jungkook">
    <div id="jungkook-image", class="partners-image">asdf</div>
    <p>Jungkook</p>
</div>
<div id="chaeunwoo-container", class="partners-container", value="ChaEunWoo">
    <div id="chaeunwoo-image", class="partners-image">asdf</div>
    <p>ChaEunWoo</p>
</div>
<div id="heeseung-container", class="partners-container", value="Heeseung">
    <div id="heeseung-image", class="partners-image">asdf</div>
    <p>Heeseung</p>
</div>

<p id="display-partner", style="display:none">
    <span id="insert-partner"></span>
    <span> will come with you :3</span>
</p>
<button id="partner-submit", style="display:none">Next</button>
