<p>This is a strong opponent. Select a partner to assist:</p>
<div id="slenderman-container", class="partners-container", value="Slenderman">
    <div id="slenderman-image", class="partners-image">asdf</div>
    <p>Slenderman</p>
</div>
<div id="babayaga-container", class="partners-container", value="Babayaga">
    <div id="babayaga-image", class="partners-image">asdf</div>
    <p>Babayaga</p>
</div>
<div id="muffinman-container", class="partners-container", value="Muffin-Man">
    <div id="muffinman-image", class="partners-image">asdf</div>
    <p>Muffin-Man</p>
</div>

<p id="display-partner", style="display:none">
    <span id="insert-partner"></span>
    <span> will come with you :3</span>
</p>
<button id="partner-submit", style="display:none">Next</button>
