<p>Now select what to arm yourselves with:</p>
<div id="wisdom-container", class="tools-container", value="Wisdom">
    <button class="tool-buttons" value="Wisdom">Wisdom</button>
</div>
<div id="strength-container", class="strength-container", value="Strength">
    <button class="tool-buttons" value="Strength">Strength</button>
</div>
<div id="unity-container", class="tools-container", value="Unity">
    <button class="tool-buttons" value="Unity">Unity</button>
</div>
<div id="leadership-container", class="tools-container", value="Leadership">
    <button class="tool-buttons" value="Leadership">Leadership</button>
</div>

<p id="display-tool", style="display:none">
    <span id="insert-tool"></span>
</p>
<button id="tool-submit", style="display:none">Next</button>
