:root {
  --light-green: rgb(214, 255, 251);
  --dark-green: rgb(53, 161, 150);
  --transparent-light-green: rgba(214, 255, 251, 0.568);
  --light-green-shadow: rgba(214, 255, 251, 0.674);
}

body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.75px;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  height: 565px;
  background-image: url('assets/Little\ Mac\ background.png');
  background-repeat: repeat;
  background-size: 38%;
}
button {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.75px;

  font-size: 20px;
  background-color: var(--light-green);
  border: 2px solid var(--dark-green);
  color: var(--dark-green);
  transition: 0.2s ease-in-out;
  padding: 5px 20px;
}
button:hover {
  cursor: pointer;
  box-shadow: 3px 2px 0 var(--dark-green);
}
input {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.75px;
  font-size: 18px;
  min-width: 250px;
  min-height: 35px;
  padding: 0 10px;
  text-align: center;
  background-color: var(--transparent-light-green);
  border: 2px solid var(--dark-green);
}
/* // */
.animate-bounce {
  animation: bounce 4s ease-in-out infinite; /* Slow bounce, 4 seconds duration */
}
@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); /* Move up */
  }
  100% {
      transform: translateY(0);
  }
}
/* // */
#planet-selection-container, #opponent-selection-container, #partner-selection-container, #welcome-container, #profile-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.planet-question, .opponent-question, .partner-question, .tool-question, .weight-question {
  text-align: center;
  font-size: 24px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;

  border: 2px solid var(--dark-green);
  background-color: var(--transparent-light-green);
  padding: 10px 25px;
}
.planets-container, .opponents-container, .partners-container, .tools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  width: 40%;
}
.planets-container, .opponents-container, .partners-container {
  margin: 0;
}
.planets-container:hover > p, .opponents-container:hover > p, .partners-container:hover > p {
  animation: bounce 4s ease-in-out infinite; /* Slow bounce, 4 seconds duration */
  /* font-weight: bold; */
  /* color: darkmagenta; */
  text-shadow: 2px 3px 0 var(--light-green-shadow);
}
.planets-container > p, .opponents-container > p, .partners-container > p {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  border: 2px solid var(--dark-green);
  padding: 3px 15px;
  background-color: var(--transparent-light-green);
  color: var(--dark-green);
}
.flex-planets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 10px;
  padding: 0 30px;
}
.planets-image > img, .opponents-image > img, .partners-image > img {
  height: 125px;
  width: 125px;
  transition: 0.2s ease-in-out;
}
.planets-image > img:hover, .opponents-image > img:hover, .partners-image > img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
#display-new-weight, #display-opponent, #display-partner, #display-tool {
  text-align: center;
  font-size: 20px;
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
  border: 2px solid var(--dark-green);
  padding: 5px 15px;
  background-color: var(--transparent-light-green);
  color: var(--dark-green);
}
#display-new-weight {
  margin-top: 10px;
}
#planet-submit, #opponent-submit, #partner-submit, #tool-submit, #begin-journey-btn {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}
/* // */
.flex-opponents, .flex-partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.opponents-container > p, .partners-container > p {
  margin-top: 10px;
}
.opponents-container, .partners-container {
  width: 28%;
  gap: 20px;
}
.opponent-question, .partner-question, .tool-question, .weight-question {
  margin-bottom: 50px;
}
.opponents-image > img, .partners-image > img {
  height: 150px;
  width: 150px;
}
/* // */
#welcome-container, #profile-info-container {
  flex-direction: column;
  margin: auto;
  margin-top: 30%;
}
/* // */
.weight-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
/* // */
.flex-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}